:root{
    --yellow: #ffb949 !important;
    --green: #3da066 !important;
    --light-bluish: #d3f4ff !important;
    --blue: #0066aa !important;
    --brown: #7c3f4b !important;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--light-bluish) !important;
    font-family: 'Montserrat', sans-serif !important;
}



.nav-buttons{
    margin: 5px;
}


/* copied */


/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    background-size: cover !important;
}

.main-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);
    width: 100%;
}

.main_text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #fff;  
}

.main_text_subtitle{
    position: absolute;
    color: #f59236;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 10em;
    padding: 15px;
    text-align: center;
}

.main_text .wrapper {
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.book_now_btn{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15em;
}

.book_now_btn button{
    background-color: var(--green);
    color: var(--light-bluish);
}

footer.footer-component{
    display: flex;
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--blue)
}

footer.footer-component .row{
    width: 100%;
}

.footer-component .middle, .footer-component .left, .footer-component .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-email, .footer-phone{
    text-decoration: none;
    color: var(--blue)
}


/* footer div.left, footer div.middle, footer div.right{
    padding: 0 20px;
    margin: 0 auto;
} */

.footer-address p{
    margin: 0;
    font-size: .9em;
    line-height: 1.8em;
}

.footer-address p span{
    display: block;
}

.footer-icons{
    margin-right: 10px;
    padding: 5px;
}

.social-link {
    text-align: center;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    list-style: none;
}

.social-link li {
    float: left;
    margin-right: 8px;
    padding: 5px;
}

/* ----------Contact------------- */
.contact{
    height: 500px;
    margin: 5px;
    padding: 5px;
    
}

.contact-header{
    text-align: center;
    padding: 10px;
    color: var(--green);
}
/* ----------Contact------------- */

/* about section */
.about-container{
    padding: 85px 0;
}

.about-heading{
    color: var(--yellow);
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.abt-line{
    height: 15px;
    width: 450px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* about section */

/* --------Reviews------------ */
#review {
	background: url(../../resources/images/interior3.jpg) center center no-repeat;
	background-size: cover;
	padding: 25px 0;
	text-align: center;
}

.review-part-haead {
	color: #fdfdfd;
	font-size: 28px;
	line-height: 41px;
	/*margin:30px 0 10px;*/
	font-family: ''Open Sans',sans-serif';
	font-style: italic;
}

.quote-right {
	font-style: normal;
	width: 68px;
	height: 68px;
	margin: 0 auto;
	border: 2px solid #36b83e;
	border-radius: 50%;
	display: block;
	line-height: 68px;
	text-align: center;
	font-size: 27px;
	color: #36b83e;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

#review .item{
    display: block;
}
/* --------Reviews------------ */


@media only screen and (max-width: 768px) {
    .main_text_subtitle{
        margin-top: 18em;
    }

    .book_now_btn{
        margin-top: 25em;
    }

    footer{
        flex-direction: column;
    }

    .about-container{
        width: 750px;
    }
}