:root {
    --yellow: #7DBA28 !important;
    --green: #378B34 !important;
    --white: #fffaff !important;
    --first-blue:#0C749C !important;
    --blue: #09779A !important; /*Heading-text color*/
    --brown: #6B1305 !important;
    --jumbotron-padding-y: 3rem;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--white) !important;
    font-family: 'Dancing Script', cursive !important;
    font-family: 'Lato', sans-serif !important;
}


h2, .second-heading{
    font-family: 'Dancing Script', cursive !important;
    font-weight: 1500;
    color:#0C749C;
    /* padding-top: 30px; */
    }
.third-heading{
    font-family: 'Lato', sans-serif !important;
    color:#6B1305;
    text-align: center;
    padding: 0 0 20px;
}

.connect-line {
    height: 12px;
    width: 190px;
    box-shadow: inset 0 10px 10px -4px #6B1305;}

/*====================================================================================================
                                        Navigation
====================================================================================================*/
.btn.nav-btn{
    background: var(--blue);
    font-family: 'Dancing Script', cursive !important;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
}

.btn.nav-btn:hover{
    background-color: #0C749C;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    text-decoration: none;
    color: #fff;
}
.nav-btn:focus{
    outline: none;
    box-shadow: 0 0 0 0 !important;
}

/*====================================================================================================
                                        Navigation
====================================================================================================*/

/*====================================================================================================
                                        ABOUT-SECTION
====================================================================================================*/

.content-about{
    line-height: 24px;
    font-family: lato;
    font-Size: 14px;
    font-Weight: normal;

}


.about-container {
    padding: 30px 0;
}

.about-heading {
    color: var(--blue);
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
}

.abt-line {
    height: 15px;
    width: 350px;
    border: 0;
    box-shadow: inset 0 10px 10px -4px #6B1305;
}

/*====================================================================================================
                                        ABOUT-SECTION
====================================================================================================*/





/*====================================================================================================
                                        Bootstap jumbotron css
====================================================================================================*/
.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}




/*====================================================================================================
                                        Bootstap jumbotron css
====================================================================================================*/


.error_label {
    color: #F44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #e99898;
    font-weight: 600;
    margin: 10px 0px;
}


.nav-buttons {
    margin: 10px;
}



/*====================================================================================================
                                        CAROUSEL-SECTION
====================================================================================================*/


.carousel_wrapper {
    height: 700px;
    background: black;
    overflow: hidden;
}

.carousel_image {
    background-size: cover !important;
}

.main-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.main_text {
    position: absolute;
    font-family: 'Dancing Script', cursivef !important;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #ffffff;
}

.main_text_subtitle {
    position: absolute;
    color: #f59236;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 15em;
    padding: 15px;
    text-align: center;
}

.main_text .wrapper {
    text-align: center;
    text-transform: uppercase;
}

.book_now_btn {
    font-family: 'lato', sans-serif;
    margin-top: 15em;
    padding-top: 50px;
}

.book_now_btn button {
    background-color: var(--green);
    color: var(--white);
}

/*====================================================================================================
                                        CAROUSEL-SECTION
====================================================================================================*/



/*====================================================================================================
                                        CONTACT-SECTION
====================================================================================================*/
.contact {
    height: 700px;
    margin: 5px;
    padding: 30px 0;

}

.contact-header {
    text-align: center;
    margin: 0 auto;
    font-weight: 800;
    color: var(--blue);
    margin-top: 30px;
}
/*====================================================================================================
                                        CONTACT-SECTION
====================================================================================================*/




/*====================================================================================================
                                        FOOTER-SECTION
====================================================================================================*/




footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer .footer-address {
    text-align: center;
    }
footer h3{
    color: #6B1305;
    font-weight: bold;
}
footer ul{
    list-style-type: none;
}



footer.footer-component {
    
    background-color: #E28413;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--blue)
}

footer.footer-component .row {
    display: flex;
    width: 100%;
    
}

.footer-component .middle,
.footer-component .left,
.footer-component .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-email,
.footer-phone {
    text-decoration: none;
    color: var(--blue)
}


/* footer div.left, footer div.middle, footer div.right{
    padding: 0 20px;
    margin: 0 auto;
} */

.footer-address p {
    margin: 0 auto;
    font-size: .9em;
    
}

.footer-address p span {
    display: block;
}

.footer-icons {
    margin-right: 10px;
    padding: 5px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    list-style: none;
    width: 100%;
}

.social-link li {
    float: center;
    margin-right: 8px;
    padding: 10px 5px 10px;
}
.social-link img{
    height: 40px;
    width: 40px;
}

.footer_newsletter {
    text-align: center;
}

footer .right .booking-links li{
    padding: 5px 0;
}

footer .sub-footer{
    text-align: center;
    padding: 20px 0;
}

.booking-sites{
    width: 100%;
    text-align: center;
}


/*====================================================================================================
                                        FOOTER-SECTION
====================================================================================================*/



/*====================================================================================================
                                        REVIEW-SECTION
====================================================================================================*/

#review-section{
    background: black;
}

#review {
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url(../../resources/images/Dhulikhel-Boutique-nightlife.jpg) center center no-repeat; 
    background-size: cover;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
   
}


  


.review-part-head {
    padding: 5px;
    width: 100%;
    color: var(--blue);
    line-height: 35px;
    /*margin:30px 0 10px;*/
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'lato',sans-serif;
    /* background: #c1b086; */
    z-index: 1;
  
}

.quote-right {
    font-style: normal;
    width: 68px;
    height: 68px;
    margin: 0 auto;
    border: 2px solid var(--blue);
    border-radius: 50%;
    display: block;
    line-height: 68px;
    text-align: center;
    font-size: 27px;
    color: var(--blue);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#review .item {
    display: block;
}

/*====================================================================================================
                                        REVIEW-SECTION
====================================================================================================*/


/*====================================================================================================
                                        SIGN_IN -SECTION
====================================================================================================*/
.signin_wrapper {
    margin: 100px;
}

.signin_wrapper {
    margin-top: 96px;
    padding: 30px 0;
    min-height: 70VH;
    text-align: center;
}

.signin_wrapper form {
    width: 350px;
    margin: 0 auto;
}

.signin_wrapper form button {
    margin-top: 20px;
    color: var(--yellow) !important;
    background-color: var(--green) !important;
    width: 100%;
    padding: 10px;
}

.signin_wrapper h1 {
    font-family: 'Dancing Script', cursive;
    color: var(--green);
    font-size: 50px;
    margin-bottom: 25px;
}


/*====================================================================================================
                                        SIGN_IN -SECTION
====================================================================================================*/


/*====================================================================================================
                                        DASHBOARD-SECTION
====================================================================================================*/
.user_dashboard {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: var(--green);
    text-align: center;
    margin-top: 200px;
}


.admin_container {
    margin-top: 96px;
    display: flex;
}

.admin_container .admin_left_nav {
    min-height: 100vh;
    background: #282828;
    border-right: 2px solid #01285e;
}

.admin_container .admin_right {
    flex-grow: 1;
}

.admin_container .admin_progress {
    text-align: center;
    margin: 20px 0px;
}

.admin_container .matches_tag_red {
    font-weight: 700;
    color: #F44336;
}

.admin_container .matches_tag_green {
    font-weight: 700;
    color: #4CAF50;
}

.admin_container h1 {
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid #dbdbdb;
    color: #414141;
    font-size: 40px;
}

/*====================================================================================================
                                        DASHBOARD-SECTION
====================================================================================================*/



/*====================================================================================================
                                        ADMIN_MESSAGE -SECTION
====================================================================================================*/


.messages-container {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.admin_progress {
    text-align: center;
    margin: 20px 0px;
}

.list-group-item {
    text-align: center;
}

.messages-row{
    display: block !important;
    padding: 0 15px;
}

/*====================================================================================================
                                        ADMIN_MESSAGE -SECTION
====================================================================================================*/

/*====================================================================================================
                                        ADMIN_ROOM -SECTION
====================================================================================================*/

.add_room_form{
    width: 100%;
}

.progress {
    text-align: center;
    padding: 60px 0px;
}

.image_upload_container {
    position: relative;
}

.image_upload_container .remove {
    top: 0;
    position: absolute;
    right: 0;
    background: #e99898;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px;
}
/*====================================================================================================
                                        ADMIN_ROOM -SECTION
====================================================================================================*/


/*====================================================================================================
                                        GALLERY-SECTION
====================================================================================================*/


.gallery-line {
	height: 12px;
	width: 120px;
    border: 0;
    box-shadow: inset 0 10px 10px -4px #6B1305;;
}

.gallery-container{
    margin-top: 100px;
}

.gallery-container .row.row-first{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gallery-container{
    min-height: "1150px"
}


.Portfolio-nav {
	padding: 0;
	margin: 0 0 45px 0;
	list-style: none;
	text-align: center;
}

.Portfolio-nav li {
	margin: 0 10px;
	display: inline;
}

.Portfolio-nav li {
	display: inline-block;
	padding: 10px 22px;
	font-size: 14px;
	line-height: 20px;
	color: #0C749C;
	border-radius: 4px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	background: #f7f7f7;
	margin: 10px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li:hover {
	background: #378B34 ;
	color: #6B1305 ;
	text-decoration: none;
}

li.option img{
    vertical-align: middle;
}

li.option.active{
    background: #378B34  ;
    color: #fff;
    text-decoration: none;
}

.gallery-image-wrapper{
    max-width: 100%;
    margin: 0 auto
}

.gallery-single-image-wrapper{
    display: block;
    margin: 0 auto;
}

img.gallery-image-single{
    max-width: 100%;
    min-height: 100px;
    display: 'block';
    margin: 0 auto;
    padding: 15px;
}

/*====================================================================================================
                                        GALLERY-SECTION
====================================================================================================*/


/*====================================================================================================
                                        ADMIN_SERIVICES-SECTION
====================================================================================================*/

.admin_services{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*====================================================================================================
                                        ADMIN_SERVICES -SECTION
====================================================================================================*/



/*====================================================================================================
                                        SERVICES -SECTION
====================================================================================================*/
.services-container{
    margin-top: 100px;
}

.services-row{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.services-row h1{
color: #0C749C;
}

.service-line {
	height: 12px;
	width: 190px;
	border: 0;
	box-shadow: inset 0 10px 10px -4px #6B1305;
}

.services-pg {
	padding-bottom: 25px;
	text-align: center;
}

.white-bg {
	background: whitesmoke;
	padding: 5px;
}

.featured-box-col2 {
	overflow: hidden;
}

.service-single-item{
    margin-right: 0px;
}

.service-single-item .item{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.service-single-item .item img{
    max-width: 100%;
    vertical-align: middle;
    
}

/*====================================================================================================
                                        SERVICES -SECTION
====================================================================================================*/



/*====================================================================================================
                                        ACCOMODATION-SECTION
====================================================================================================*/

.accomodation-container{
    margin-top: 100px;
}

.accomodation-container .row{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.accomodation-heading{
    text-align:center ;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    
	background: #378B34;
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #212121;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #212121;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h1 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: .2;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.room-capacity{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
}

.table-footer{
    margin: 0 10px;
}

.room-capacity-container span{
    padding: 0 5px;
}



/*====================================================================================================
                                       COMMAN STYLE-SECTION
====================================================================================================*/

.grid figure {
	position: relative;	
	overflow: hidden;
	margin: 10px 0;
	height: auto;
	text-align: center;
    cursor: pointer;
    
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
    opacity: 0.8;
    
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-size: 1.5em;
    margin-top: 18%;
    color: #FFF;
    font-weight: 600;
}

.grid figure h1 span {
	font-weight: 800;
}

.grid figure h1,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

.room-name{
    background: rgba(0,0,0,0.4);
}

.single-room-container{
    margin-top: 100px;
}

.single-room-figure{
    max-width: 100%;
    display: inline-flex;
}

.single-room-figure img{
    width: 100%;
}

.single-room-row .col-md-7{
    margin: auto auto;
    text-align: center;
}

/*====================================================================================================
                                        ACCOMODATION-SECTION
====================================================================================================*/
.error_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Dancing Script', cursive !important;
    font-size: 40px;
    padding: 15px;
    color: var(--blue);
}

@media only screen and (max-width: 768px) {
    .error_page{
        font-size: 25px;
    }
    .main_text_subtitle {
        margin-top: 20em;
    }

    .book_now_btn {
        margin-top: 25em;
    }

    footer {
        flex-direction: column;
    }

    .about-container {
        width: 750px;
    }

    .service-single-item .item{
        display: block;
        padding: 10px;
           }
}